.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.container:hover .optionContainer {
    border: 2px solid green;
}

.optionContainer {
    height: 80%;
    width: 60%;
    align-self: center;
    border: 1px solid #0000005e;
    border-radius: 5px;
}

.optionTitle {
    height: 25%;
    font-size: 12px;
    user-select: none;
}

.imageContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}

.textCardOption {
    height: auto;
}